<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Vaadin Web Application</display-name>

    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>Vaadin Application Servlet</servlet-name>
        <servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
        <init-param>
            <description>Vaadin application class to start</description>
            <param-name>application</param-name>
            <param-value>com.unknown.entity.UnknownEntityDKP</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>GetUsersJSON</servlet-name>
        <servlet-class>com.unknown.entity.GetUsersJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetItemsJSON</servlet-name>
        <servlet-class>com.unknown.entity.GetItemsJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRaidsJSON</servlet-name>
        <servlet-class>com.unknown.entity.GetRaidsJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Vaadin Application Servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsersJSON</servlet-name>
        <url-pattern>/GetUsersJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetItemsJSON</servlet-name>
        <url-pattern>/GetItemsJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRaidsJSON</servlet-name>
        <url-pattern>/GetRaidsJSON</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
